POSTGRES_USER=afrishop
POSTGRES_PASSWORD=Kheuss.ras
POSTGRES_DB=warehouse
HASH_SALT=je_suis_cheikh_sall_data_analyst
Add-Content .env.example "AIRFLOW_ADMIN_USER=admin`nAIRFLOW_ADMIN_PASSWORD=admin`nAIRFLOW_SECRET_KEY=change_me_secret"
Copy-Item .env.example .env